div {
    font-family: Arial;
    text-align: center;
    color: black;
    text-decoration: none

}

#header {
    color: red;
    text-align: center;
}

.link:hover {
    cursor: pointer;
    color: blue;
    transition-duration: 0.1s;
}


    

